@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}


body{
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 20px;
}

.empty{
  height: 150px;
  width: 150px;
  border: 1px solid #fff;
  background-color:rgb(49, 49, 49)
}

.fill {
  background-image: url('https://source.unsplash.com/random/150x150');
  height: 148px;
  width: 148px;
  cursor: pointer;
}

.hold {
  border: solid 2px #ccc;
}

.hovered{
  height: 150px;
  width: 150px;
  border: 2px dashed #fff;
  background-color: rgb(104, 104, 104);
}

